.img {
  height: 350px;
  padding: auto;
  margin: auto;
}

.btn {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  width: 80px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus {
  background-color: #f082ac;
}
.choose {
  color: white;
}
.transaction {
  margin-bottom: 15px;
}
.transaction > a {
  color: white;
}
.img-ctr {
  padding-right: 30px;
}
